:root {
    background: url(images/orewa-cropped.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#topbanner {
    float: center;
    border: 5px double black;
    border-radius: 5px;
    position: fixed;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px 10px;
    margin-top: 100px;
    left: 30%;
    top: 20px;
}

#text-container {
    height: fit-content;
    width: 900px;
    position: fixed;
    top: 120px;
    text-align: center;

}

#name{
    position: absolute;
    left: 0px;
    top: 150px;
    font-size: 30px;
    font-family: stencil; color: black bold;
    animation-name: name;
    animation-iteration-count: 1; 
    animation-duration: 8s;
}

#studentid {
    position: absolute;
    left: 500px;
    top: 150px;
    font-size: 30px;
    font-family: stencil; color: black bold;
    animation-name: studentid;
    animation-iteration-count: 1; 
    animation-duration: 8s;
}

#orewa-text {
    position: absolute;
    float: center;
    top: -200px;
    left: 250px;
    font-size: 90px;
    font-weight: bold;
}

#sunset-img{
    width: 200px;
    height: 150px;
    position: relative;
    float: right;
    animation: sunset 5s;
    animation-iteration-count: 1;
}

#surf-img {
    width: 200px;
    height: 150px;
    position: relative;
    float: left;
    animation: surf 5s;
    animation-iteration-count: 1;
}

#orewa-surf {
    width: 200px;
    height: 150px;
    position: relative;
    float: right;
    animation: surf-2 5s;
    animation-delay: 5s;
    animation-iteration-count: 1;
}

#orewa-beach {
    width: 200px;
    height: 150px;
    position: relative;
    float: left;
    animation: beach 5s;
    animation-delay: 5s;
    animation-iteration-count: 1;
}

#page-links{
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    text-align: center;
    position: relative;
    float: right;
    top: 300px;
    margin: 25px;
    height: 100px;
    width: 100px;
}

@keyframes surf {
    from { top: 250px; }
    to { top: 0px; }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1}

}

@keyframes sunset {
    from { left: 250px; }
    to { left: 0px }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes surf-2{
    from {top: 250px;}
    to {top: 0px;}
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes beach {
    from { left: 250px; }
    to { left: 0px }
    0% { visibility: hidden }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes name {
    0% { color: white; font-size: 0}
    25% { color: lightblue; }
    50% { color: lightgreen; }
    100% { font-size: 30px; }
}

@keyframes studentid {
    0% { color: white; font-size: 0}
    25% { color: lightblue; }
    50% { color: lightgreen; }
    100% { font-size: 30px; }
}