:root {
    background: url(images/orewa-background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#topbanner {
    float: center;
    position: fixed;
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin-top: 100px;
    left: 28%;
}

#webcontainer {
    height: 100%;
    width: 100%;
}

#storyboard-images {
    width: 3%;
    height: 3%;
}

#beach-images {
    position: fixed;
    border-style: double;
    border-radius: 10px;
    border-width: 5px;
    padding: 5px;
}

#text-container {
    position: relative;
    text-align: center;
    top: 0;
}

#name{
    position: fixed;
    top: 37%;
    left: 30%;
    z-index: 1;
    font-size: 20px;
    font-family: stencil; color: black bold;
    animation-name: myName;
    animation-iteration-count: 1; 
    animation-duration: 8s;
}

#studentid {
    position: fixed;
    top: 37%;
    right: 28%;
    z-index: 1;
    font-size: 20px;
    font-family: stencil; color: black bold;
    animation-name: myID;
    animation-iteration-count: 1; 
    animation-duration: 8s;
}

#orewa-text {
    position: fixed;
    float: center;
    top: -12%;
    left: 40%;
    font-size: 90px;
    font-family: Algerian; color: white;
    animation: orewa-text 5s;
    animation-delay: 15s;
    animation-iteration-count: 2;
}

#word-change {
    position: fixed;
    float: center;
    top: -12%;
    left: 50%;
    font-size: 90px;
    font-family: algerian; color: white;
    visibility: hidden;
    animation: word-change 5s;
    animation-delay: 23s;
    animation-iteration-count: 1;
}

#sunset-img{
    width: 200px;
    height: 150px;
    position: relative;
    float: right;
    animation: sunset-img 5s ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#surf-img {
    width: 200px;
    height: 150px;
    position: relative;
    float: left;
    animation: surf-img 5s ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#orewa-beach {
    width: 200px;
    height: 150px;
    position: relative;
    float: left;
    animation: beach-img 5s ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#orewa-surf-2 {
    width: 200px;
    height: 150px;
    top: 30%;
    left: 29%;
    position: fixed;
    visibility: hidden;
    animation: surf-2 8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-iteration-count: 1;
}

#orewa-beach-2 {
    width: 200px;
    height: 150px;
    position: fixed;
    visibility: hidden;
    top: 30%;
    left: 44%;
    animation: beach-2 8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-iteration-count: 1;
}

#orewa-jetski {
    width: 200px;
    height: 150px;
    position: fixed;
    visibility: hidden;
    top: 30%;
    left: 58%;
    animation: jetski 8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-iteration-count: 1;

}

#carContainer {
    width: 530px;
    height: 300px;
    position: relative;
    border-style: solid;
    border-color: green;
    top: 220px;
}

#car {
    height: 120px;
    width: 300px;
    position: relative;
    visibility: hidden;
    top: 50px;
    left: 100px;
    animation: movingCar 1.5s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#tyres-1 {
    height: 58px;
    width: 58px;
    position: relative;
    visibility: hidden;
    z-index: 1;
    top: 236px;
    left: 170px;
    animation: moveBackTyre 1.5s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#tyres-2 {
    height: 58px;
    width: 58px;
    position: relative;
    visibility: hidden;
    z-index: 1;
    top: 172px;
    left: 360px;
    animation: moveFrontTyre 1.5s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#car-texts {
    position: relative;
    float: right;
}

#car-text-1 {
    position: relative;
    left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #C11B17;
    visibility: hidden;
    animation: cartext-move-1 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#car-text-2 {
    position: relative;
    left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #C11B17;
    visibility: hidden;
    animation: cartext-move-2 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#car-text-3 {
    position: relative;
    left: 50px;
    font-size: 25px;
    background-color: yellow;
    border-radius: 10px;
    color: #C11B17;
    visibility: hidden;
    animation-name: cartext-move-3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#firstPage {
    position: fixed;
    background-color: white;
    border-color: green;
    border-style: inset;
    height: fit-content;
    width: 300px;
    top: 45%;
    left: 41%;
}

#form-title {
    font-weight: bold;
    position: relative;
    left: 30px;

}

#arrival-box {
    margin: 10px;
}

#departure-box {
    margin: 10px;
}

#cooking-facilities {
    margin: 10px;
}

#equipment-facilities {
    margin: 10px;
}

#next-button{
    width: 100px;
    width: 50px;
}

#secondPage {
    position: fixed;
    background-color: white;
    border-color: green;
    border-style: inset;
    height: fit-content;
    width: 300px;
    top: 45%;
    left: 41%;
}

#firstName-box {
    margin: 10px;
}

#lastName-box {
    margin: 10px;
}

#adults-box {
    margin: 10px;
}

#kids-box {
    margin: 10px;
}

#bot-detection {
    margin: 10px;
}

#thirdPage {
    position: fixed;
    background-color: white;
    border-color: green;
    border-style: inset;
    height: fit-content;
    width: 300px;
    top: 45%;
    left: 41%;
}

#colorpicker-box {
    text-align: center;
    margin: 10px;
}

#numpicker-box {
    text-align: center;
    margin: 10px;
}

#fourthPage {
    position: fixed;
    background-color: white;
    border-color: green;
    border-style: inset;
    height: fit-content;
    width: 300px;
    top: 45%;
    left: 41%;
}

#finalPage {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-color: green;
    border-style: inset;
    height: 300px;
    width: 300px;
    top: 45%;
    left: 41%;
}

@keyframes myName {
    0% { color: white; font-size: 0}
    25% { color: grey; }
    50% { color: black; }
    100% { font-size: 20px; }
}

@keyframes myID {
    0% { color: white; font-size: 0}
    25% { color: grey; }
    50% { color: black; }
    100% { font-size: 20px; }
}

@keyframes surf-img {
    from {
        visibility: visible;
        top: 250px;
    }
    to {
        top: 0px;
        visibility: hidden;
    }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1}

}

@keyframes sunset-img {
    from {
        left: 250px; 
    }
    to {
        left: 0px;
        visibility: hidden; 
    }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes beach-img {
    from { 
        left: -250px; 
    }
    to { 
        left: 0px;
        visibility: hidden; 
    }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes beach-2 {
    from {
        top: 250px;
        visibility: hidden;
        opacity: 0;
    }
    to {
        top: 118px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes surf-2 {
    from {
        top: 0;
        visibility: hidden;
        opacity: 0;
    }
    to {
        top: 118px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes jetski {
    from {
        top: 0;
        visibility: hidden;
        opacity: 0;
    }
    to { 
        top: 118px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes orewa-text {
    from {
        top: -75px;
        left: 600px;
    }
    to {
        top: -75px;
        left: 850px;
    }
    0% { color: white; opacity: 1}
    25% { color: yellow; opacity: 0.75}
    50% { color: red; opacity: 0.5 }
    75% { color: blue; opacity: 0.25; }
    100% { color: green; opacity: 0; }
}

@keyframes word-change {
    from {
        top: -75px;
        left: 300px;
        opacity: 0;
    }
    to {
        top: -75px;
        left: 1500px;
        opacity: 1;
        visibility: visible;
    }
    0% { color: white; }
    25% { color: yellow; }
    50% { color: red; }
    75% { color: blue; }
    100% { color: green; }
}

@keyframes movingCar {
    from {
        top: 50px;
        left: -350px;
        visibility: hidden;
    }
    to {
        top: 50px;
        left: 40px;
        visibility: visible;
    }
}

@keyframes moveFrontTyre {
    from {
        top: 172px;
        left: -140px;
        visibility: hidden;
    }
    to {
        top: 172px;
        left: 250px;
        visibility: visible;
    }
    0% {transform: rotate(0deg); }
    25% {transform: rotate(90deg); }
    50% {transform: rotate(180deg); }
    75% {transform: rotate(270deg); }
    100% {transform: rotate(360deg);}
}

@keyframes moveBackTyre {
    from {
        top: 236px;
        left: -330px;
        visibility: hidden;
    }
    to {
        top: 236px;
        left: 60px;
        visibility: visible;
    }
    0% {transform: rotate(0deg); }
    25% {transform: rotate(90deg); }
    50% {transform: rotate(180deg); }
    75% {transform: rotate(270deg); }
    100% {transform: rotate(360deg); }
}

@keyframes cartext-move-1 {
    from {
        left: 75px;
        opacity: 0;
        visibility: hidden;
    }
    to {
        left: -15px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes cartext-move-2 {
    from {
        left: 75px;
        opacity: 0;
        visibility: hidden;
    }
    to {
        left: -15px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes cartext-move-3 {
    from {
        left: 75px;
        opacity: 0;
        visibility: hidden;
    }
    to {
        left: -15px;
        opacity: 1;
        visibility: visible;
    }
}



