:root {
    background: url(images/orewa-cropped.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#topbanner {
    padding-left: 450px;
    border: 5px double black;
    width: 900px;
    position: fixed;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px 10px;
    left: 25%;
    top: 40px;
}

#text-container {
    height: fit-content;
    width: 900px;
    position: fixed;
    top: 150px;
    text-align: center;

}

#orewa {
    position: fixed;
    left: 500px;
    font-size: 80px;
    font-weight: bold;
    color: black;
    font-family: stencil;
    animation: orewa-text infinite 5s;

}

#beauty {
    position: fixed;
    right: 700px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: stencil;
    animation: beauty-text 2 5s;
}

#sunset-img{
    width: 200px;
    height: 150px;
    position: relative;
    right: 0px;
    animation: orewa-sunset 5s;
    animation-iteration-count: 1;
}

#surf-img {
    width: 200px;
    height: 150px;
    position: relative;
    left: 0px;  
    animation: orewa-surfing 5s;
    animation-iteration-count: 1;
}

#orewa-surf {
    width: 200px;
    height: 150px;
    position: relative;
    right: 0px;
    animation: orewa-surf 5s;
}

#orewa-beach {
    width: 200px;
    height: 150px;
    position: relative;
    right: 0px;
    animation: orewa-beach 5s;
}

@keyframes orewa-surfing {
    from {top: 200px;}
    to {top: 0px;}
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes orewa-sunset {
    from { top: -250px }
    to { top: 0px }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes orewa-beach {
    from { left: -250px }
    to { left: 0px }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes orewa-surf {
    from { right: -250px }
    to { right: 0px }
    0% { opacity: 0 }
    25% { opacity: 0.5 }
    50% { opacity: 0.75 }
    100% { opacity: 1 }
}

@keyframes orewa-text {
    from { right: 250px }
    to { right: 1000px }
}

@keyframes beauty-text {
    from { left: 400px }
    to { left: 1000px }
}